{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}
    {% endblock %}
  </title>
  <link rel="stylesheet" href="{% static "css/blog.css" %}">
</head>
<body>
  <div id="content">
    {% block body %}
    {% endblock %}
  </div>
  <div id="sidebar">
    <h2>
      <a href="{% url 'blog:post_list' %}">
        Blog
      </a>
    </h2>
    <p>This is a blog.</p>
    <p>There are {% total_posts %} posts so far.</p>
    <p><a href="{% url "post_feed" %}">Subscribe to my RSS feed</a></p>
    <h3>Latest Posts</h3>
    {% show_latest_posts %}
    <h3>Most Commented Posts</h3>
    {% show_most_commented_posts %}
    <h3>Search a post</h3>
    <form action="{% url 'blog:post_list' %}" method="get">
      <input name="query" type="text" placeholder="Search...">
    </form>
  </div>
</body>
</html>
